*{
    margin: 0;
    padding: 0;
}

#nav-bar{
    /* font-family: 'Yeseva One', cursive; */
    /* font-family: 'Baloo Bhaina 2', cursive; */
    font-family: 'Balsamiq Sans', cursive;

    position: sticky;
    top: 0;
    z-index: 10px;
}
.navbar-brand img{
    height: 100px;
    width: 130px;
    margin-left: -22px;
    margin-top: -15px;
    /* filter: invert(0%); */
    background-color: white;
    /* opacity: 1;  */
}
.carousel-item active{
    width: 100%;
    margin-right: 100px;

}

.navbar-nav li{
    padding: 0 10px;

}
.navbar-nav li a{
    float:right;
    text-align: left;
}
.navbar-nav li a:hover{
    color: red !important;
}
.navbar {
    background: #fff;
}
.navbar-toggler{
    border: none!important;
}
.nav-link{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}
/* slider */
#slider{
width: 100%;
}
.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
} 
.carousel-caption h4{

    font-family: 'Yeseva One', cursive;
    color: #fff;
    font-size: 40px;
} 

/************ about*********** */
#about{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
#about btn{
    margin-top: 20px;
    margin-bottom: 30px;
}
.about-content{
    padding-bottom: 20px;
}
.skills-bar{
    margin-bottom: 6px;
    font-weight: 600;
}
.progress-bar{
    border-radius: 16px;
}
.progress{
    border-radius: 16px!important;

}

#services{
    /* background-image: linear-
    gradient(rgba(10, 50, 0, 8),rgba(0,0,0,0,8)), url('bgimg.jpg'); */
    background-image: url(bgimg.jpg);
    /* background: rgb(158, 152, 152); */
    background-size: cover;
    background-position: center;
    color: black;
    background-attachment: fixed;
    padding-top: 30px;
    padding-bottom: 30px;
    opacity: .7;

}
#services h1{
    color: #efefef;
    text-align: center;
    padding-bottom: 10px;
}
#services h1::after{
    content: '';
    background-color: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}